:root {
  --main-header-colour: #004ad4;
  --main-terminal-colour: #016797;
  --main-code-colour: #b2da00;
  --main-text-colour: #c1dfa9;
  --main-link-highlight-colour: #d81900;
}

body {
  background-color: #222425;
  width: 48em;
  margin-left: auto;
  margin-right: auto;
  /*Taken from christine.website*/
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  color: var(--main-text-colour);
}

h1 {
  font-size: 30px;
  color: var(--main-header-colour);
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 0.15em;
}

h1::after {
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    transparent 15%,
    var(--main-header-colour) 15%,
    var(--main-header-colour) 35%,
    transparent 35%,
    transparent 50%
  );
  mask-image: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 2px,
    black 2px,
    black 8px
  );
  -webkit-mask-image: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 2px,
    black 2px,
    black 8px
  );
  height: 8px;
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

h2 {
  font-size: 20px;
  color: var(--main-header-colour);
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 0.15em;
  margin-bottom: -0.15em;
}

h2::after {
  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    var(--main-header-colour) 30%,
    var(--main-header-colour) 70%,
    transparent 70%,
    transparent 100%
  );
  mask-image: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 2px,
    black 2px,
    black 8px
  );
  -webkit-mask-image: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent 2px,
    black 2px,
    black 8px
  );
  height: 6px;
  content: " ";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

h3 {
  font-size: 18px;
  color: var(--main-header-colour);
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 0.3em;
  margin-bottom: -0.3em;
}

a {
  width: 200px;
  height: 100px;
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom,
    transparent 50%,
    var(--main-link-highlight-colour) 50%
  );
  -webkit-transition: background-position 0.3s;
  -moz-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

a:link {
  color: var(--main-link-highlight-colour);
}

a:visited {
  color: var(--main-terminal-colour);
}
a:hover {
  color: white;
  background-position: 0 100%;
}

/*
    code segments
*/

/* default */
pre {
  border-radius: 0.5em;
  border: 0.3em solid hsl(0, 0%, 33%);
  box-shadow: 1px 1px 0.5em black inset;
  padding: 0.5em 1em;
  margin: 1.5em 0em;
  background-color: hsl(0, 0%, 5%);
  color: var(--main-terminal-colour);
  font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
}

:not(pre) > code {
  color: var(--main-code-colour);
}

:not(pre) > code::after {
  content: "`";
}
:not(pre) > code::before {
  content: "`";
}

/*
  table style
*/

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.3em 0.5em;
}

th {
  color: var(--main-code-colour);
  filter: brightness(70%);
  font-weight: bold;
  padding: 0.5em 1em;
}

tr {
  padding: 0.5em;
  font-family: "Consolas", "Monaco", "Andale Mono", "Ubuntu Mono", monospace;
}

.text-icon {
  vertical-align: middle;
  width: auto;
}
