{{define "page"}}
<div>
  <h1>My home page!!</h1>
  Home pages are boring, who wants to read those!
  <br/>
  Instead take a look at my
  <a href=/blogs.html>blogs</a>
  for more text and the links below for code (or more text? Who knows!).
  <h2>Links of things im on</h2>
  <ul>
    <li><a href=https://gitlab.com/amfiremage><img src="images/gitlab.svg" class="text-icon" style="height: 1.8em; margin: -.4em -.3em -.4em -.4em;"/>gitlab</a></li>
    <li><a href=https://github.com/JAicewizard><img src="images/github.svg" class="text-icon" style="height: 1em;"/>github</a></li>
  </ul>
  <h2>Things im good at</h2>
  <ul>
    <li>Go, Rust, C, Dart</li>
    <li>FLutter</li>
    <li><a href=https://github.com/JAicewizard><img src="images/github.svg" class="text-icon" style="height: 1em;"/>github</a></li>
  </ul>
  <h2>Highlighted things I work on</h2>
  <ul>
    <li><a href=https://gitlab.com/antipy/antibuild/cli>Antibuild</a></li>
    <li><a href=https://gitlab.com/amfiremage/gosit>Gosit (go posits)</a></li>
    <li><a href=https://github.com/svthalia/reaxit>Reaxit, mobile app from S.V. Thalia</a></li>
    <li>C compiler with the RUN 2021 ISA as a target. The ISA is from my university. Currently not public.</li>
  </ul>

</div>

{{ end }}
