{{define "html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{if .pageName}} {{.pageName}} | {{end}} {{.layout.name}}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a href="/">home</a>
      -
      <a href="/blogs.html">blogs</a>
    </header>
    {{template "page" .}}
  </body>
</html>
{{ end }}
